body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcolegiosananselmo.org%2Fnoticias%2Fdia-de-san-lorenzo%2F&psig=AOvVaw36LwSTyolnfr42Bo3hh8oF&ust=1731271092163000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPj12cWN0IkDFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size: cover;
}